<!--
  Generated template for the IncomesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar verde>
    <ion-title>Receitas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="incomes">

  <div class="loading-container" *ngIf="deleting">
    <div class="loading">
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <div class="subheader" >
    <h2>{{getLabel(month, year, actualYear)}}</h2>
    <button verde (click)="subtractMonth()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <button verde (click)="addMonth()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </div>
  <div class="content">
    <ion-list *ngIf="getFilteredIncomes(incomes, date, month, year, actualYear ).length > 0">
      <ion-item *ngFor="let income of getFilteredIncomes(incomes, date, month, year, actualYear )" (click)="deleteIncome(income)">
        <h2>{{income.descricao ? income.descricao : 'Sem descrição'}} - R${{accounting.formatMoney(income.valor, "", 2, ".", ",")}}</h2>
        <p>{{formatData(income)}}</p>
      </ion-item>
    </ion-list>

    <div class="no-results" *ngIf="getFilteredIncomes(incomes, date, month, year, actualYear ).length == 0">
      <h4 class="text-center">Não há receitas neste mês.</h4>
    </div>

    <button fab-bottom fab-right fab-fixed round darkgreen (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>

  </div>
</ion-content>
