// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/incomes/incomes";
@import "../pages/add-income/add-income";
@import "../pages/add-outgoing/add-outgoing";
@import "../pages/outgoings/outgoings";
@import "../pages/analise/analise";
@import "../pages/intro/intro";


.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

ion-page scroll-content{
  margin-top: 0 !important;
}
