// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/incomes/incomes";
@import "../pages/add-income/add-income";
@import "../pages/add-outgoing/add-outgoing";
@import "../pages/outgoings/outgoings";
@import "../pages/analise/analise";
@import "../pages/intro/intro";
@import "../pages/history/history";


.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

ion-page scroll-content{
  margin-top: 0 !important;
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  margin: auto;
  text-align: center;
}
.loading-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item {
    border-bottom: 1px solid #ccc;
}
ion-list > .item:first-child, ion-list > .item-wrapper:first-child .item {
    border-top: 1px solid #ccc;
}

ion-list .item-inner {
    border-bottom: 1px solid #ccc;
}
