.add-outgoing {

  p{
    color: color($colors, gray);
  }

  background-color: color($colors, light);
  ion-item ion-input * {
    text-align: right;
  }
  ion-item.data{

    span:first-of-type{
      color: #999;
    }
    span:last-of-type{
      min-width: 100px;
      height: 19px;
      float: right;
    }
  }

  ion-list, ion-item{
    background-color: color($colors, light);
  }
}
